# VITE_APP_BASE_URL=http://192.168.13.149:3000
# VITE_APP_ADMIN_BASE_URL=http://192.168.13.149:3000/admin
# VITE_APP_FILE_URL=http://192.168.13.149:3000/uploads/
# VITE_APP_REGISTER_KEY=eH3ubpwyRRV7uOid1476WJ7BraVEQgC3re4

VITE_APP_BASE_URL=
VITE_APP_ADMIN_BASE_URL=
VITE_APP_FILE_URL=
VITE_APP_REGISTER_KEY=
